.container-fluid {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

ul {
    right: 0;
    position: absolute;
    top: 16px;
    list-style-type: none;
    color: black;
}

.navItemContainer {
    float: right;
}

li {
    /* list-style-type: none; */
    padding: 20px;
}