/* .list-group-item{
    background-color: transparent;
    border: none;
} */
.list-overflow-container {
  height: 400px;
  width: 50%;
  /* max-height: auto; */
  margin: 0 auto;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-group-item {
    overflow: auto;
    clear: both;
    position: absolute;
    width: 40%;
}