.list-group-item{
    background-color: transparent;
    border: none;
    padding-bottom: 24px;
}
.list-overflow-container {
  height: 580px;
  /* width: 50%; */
  /* max-height: auto; */
  /* margin: 0 auto; */
  border: 1px #DDDDDD solid;
  border-radius: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  border: none
}

.list-group-item {
  font-size: 16pt;
}