* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-size: 14pts;
    }
.spotNotes {
    font-size: 14pts;
}
.containerBackground {
    clear: both;
    overflow: auto;
    position: relative;
    padding: 32px;
    width: 60%;
    margin: 0 auto;
    border: 1px white solid;
    background-color: gray; 
    text-align: justify;
}
