* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-size: 14pts;
    }
body {
    clear: both;
    overflow: auto;
    background-image: url('../../assets/images/belmar4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.spotNotes {
    font-size: 14pts;
}
.containerBackground {
    clear: both;
    overflow: auto;
    position: relative;
    height: auto;
    padding: 32px;
    width: 60%;
    margin: 0 auto;
    border: 1px white solid;
    background-color: gray; 
    text-align: justify;
}
