/* .form-group {
    
} */

.form-group {
    clear: both;
    overflow: auto;
    position: relative;
    padding-bottom: 20px;
    width: 100%;
}
.form-control {
    width: 100%;
    margin: auto;
    height: 30px;
    font-size: 18pt;

}
#format {
    clear: both;
    overflow: auto;
    margin-top: 5px;
}