* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    }

.listContainer {
    width: 50%;
    /* height: auto; */
    margin: 0 auto;
    text-align: center;
    }

body {
    clear: both;
    overflow: auto;
    background-image: url('../../assets/images/belmar2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.formDiv {
    /* background-image: linear-gradient(red, yellow, green); */
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

