* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-size: 14pts;
    }

/* .listContainer {
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    } */

body {
    clear: both;
    overflow: auto;
    background-image: url('../../assets/images/belmar2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.formDiv {
    clear: both;
    overflow: auto;
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 60%;
}

