* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-size: 14pts;
    }

/* .listContainer {
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    } */

.formDiv {
    clear: both;
    overflow: auto;
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 60%;
}

