* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}
.introduction {
    font-size: 24px;
    clear: both;
    overflow: auto;
    border: 1px white solid;
    background-color: gray;
    padding: 35px;
    margin: 25%;
    position: absolute;
    height: auto;
    width: 50%;
    text-align: center;
    box-shadow: 15px 5px 5px black;
}