* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}
.introduction {
    height: 500px;
    font-size: 24px;
    clear: both;
    overflow: auto;
    width: 60%;
    margin: 0 auto;
    position: relative;
    border: 1px white solid;
    background-color: gray;
    padding: 35px;
    text-align: justify;
    box-shadow: 15px 5px 5px black;
}