* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}

body {
    clear: both;
    overflow: auto;
    background-image: url('../../assets/images/belmar2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    
}
.textContainer {
    text-align: justify;
    font-size: 18px;
}